body {
    font-family: Arial, sans-serif;
    background-image: url('https://media.gq.com.mx/photos/62a8ab4495be8b02464f0b96/16:9/w_2560%2Cc_limit/BALENCIAGA%2520NEW%2520BOND%2520STREET%2520IMAGE_9.jpg');
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
